.hefeiEvaluationInfoController {
  .content-width {
    width: remSize(580);
  }
  .word-line-height {
    line-height: 1.7;
  }

  //.stars-width {
  //  width: remSize(200);
  //  height: remSize(40);
  //  background-image: url('../img/star_01.png');
  //  background-size: remSize(40.3) auto;
  //  margin-top: -2px;
  //}
  //.stars-yellow {
  //  height: remSize(40);
  //  background-image: url('../img/star_02.png');
  //  background-size: remSize(40.3) auto;
  //}

  .stars-width {
    width: remSize(230);
    height: remSize(36);
    //background-image: url('../img/star_01.png');
    background-image: url('../img/icon_xingji1_05.png');
    background-size: 1rem auto;
    //background-size: remSize(40.3) auto;
  }
  .stars-yellow {
    height: remSize(36);
    //background-image: url('../img/star_02.png');
    background-image: url('../img/icon_xingji1_03.png');
    //background-size: remSize(40.3) auto;
    background-size: 1rem auto;
  }

  .star-height {
    height: remSize(40);
  }
  .item-title {
    &:before {
      float: left;
      width: remSize(3);
      background-color: #ff8080;
      content: ' ';
      height: 0.7rem;
      display: block;
      margin-right: remSize(30);
    }
  }

  .word-overflow-line-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}